
.saa{
    padding-top: 100px;
}

.box{

    background-color:#b5f3de;
    border-radius: 18px;
    padding: 15px;
    
}

.box:hover{

        transform: scale(1.1);
        background-color: aquamarine;
}
